* {
  background-color: #121212;
  color: white;
  font-size: 24px;
}

.main-body {
  width: 80vw;
  margin: auto;
}

.movies-main, .directors-main, .actors-main, .users-main, .chats-main {
  gap: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 75%;
      grid-template-columns: 20% 75%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.movies-main .ItemList, .directors-main .ItemList, .actors-main .ItemList, .users-main .ItemList, .chats-main .ItemList {
  -ms-grid-column-align: start;
      justify-self: start;
  width: 100%;
}

.movies-main .ItemList h5, .directors-main .ItemList h5, .actors-main .ItemList h5, .users-main .ItemList h5, .chats-main .ItemList h5 {
  font-size: 82px;
  margin: 20px;
}

.movies-main .ItemList img, .directors-main .ItemList img, .actors-main .ItemList img, .users-main .ItemList img, .chats-main .ItemList img {
  background-color: #a08324;
  width: 100%;
}

.movies-main .ItemList .Item, .directors-main .ItemList .Item, .actors-main .ItemList .Item, .users-main .ItemList .Item, .chats-main .ItemList .Item {
  margin: 5px;
  border-radius: 15px;
  padding: 15px;
  background-color: #302100;
  width: auto;
  max-width: 20%;
  min-height: 10rem;
  max-height: 20rem;
}

.movies-main .ItemList .Item a, .directors-main .ItemList .Item a, .actors-main .ItemList .Item a, .users-main .ItemList .Item a, .chats-main .ItemList .Item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #3b3b3b;
  width: 100%;
}

.movies-main .ItemList .ItemList-movies, .movies-main .ItemList .ItemList-directors, .movies-main .ItemList .ItemList-actors, .movies-main .ItemList .ItemList-users, .directors-main .ItemList .ItemList-movies, .directors-main .ItemList .ItemList-directors, .directors-main .ItemList .ItemList-actors, .directors-main .ItemList .ItemList-users, .actors-main .ItemList .ItemList-movies, .actors-main .ItemList .ItemList-directors, .actors-main .ItemList .ItemList-actors, .actors-main .ItemList .ItemList-users, .users-main .ItemList .ItemList-movies, .users-main .ItemList .ItemList-directors, .users-main .ItemList .ItemList-actors, .users-main .ItemList .ItemList-users, .chats-main .ItemList .ItemList-movies, .chats-main .ItemList .ItemList-directors, .chats-main .ItemList .ItemList-actors, .chats-main .ItemList .ItemList-users {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movies-main .view-options, .directors-main .view-options, .actors-main .view-options, .users-main .view-options, .chats-main .view-options {
  margin-top: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  border: lightgray solid 1px;
  border-radius: 10px;
}

.movies-main .view-options .Filters, .movies-main .view-options .Sorting, .directors-main .view-options .Filters, .directors-main .view-options .Sorting, .actors-main .view-options .Filters, .actors-main .view-options .Sorting, .users-main .view-options .Filters, .users-main .view-options .Sorting, .chats-main .view-options .Filters, .chats-main .view-options .Sorting {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movies-main .view-options .Filters div, .movies-main .view-options .Sorting div, .directors-main .view-options .Filters div, .directors-main .view-options .Sorting div, .actors-main .view-options .Filters div, .actors-main .view-options .Sorting div, .users-main .view-options .Filters div, .users-main .view-options .Sorting div, .chats-main .view-options .Filters div, .chats-main .view-options .Sorting div {
  border: gray solid 1px;
  border-radius: 15px;
}

.movies-main .view-options .Filters form, .movies-main .view-options .Sorting form, .directors-main .view-options .Filters form, .directors-main .view-options .Sorting form, .actors-main .view-options .Filters form, .actors-main .view-options .Sorting form, .users-main .view-options .Filters form, .users-main .view-options .Sorting form, .chats-main .view-options .Filters form, .chats-main .view-options .Sorting form {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movies-main .view-options .Filters form .company, .movies-main .view-options .Sorting form .company, .directors-main .view-options .Filters form .company, .directors-main .view-options .Sorting form .company, .actors-main .view-options .Filters form .company, .actors-main .view-options .Sorting form .company, .users-main .view-options .Filters form .company, .users-main .view-options .Sorting form .company, .chats-main .view-options .Filters form .company, .chats-main .view-options .Sorting form .company {
  width: 100%;
}

.movies-main .view-options .Filters form .company select, .movies-main .view-options .Sorting form .company select, .directors-main .view-options .Filters form .company select, .directors-main .view-options .Sorting form .company select, .actors-main .view-options .Filters form .company select, .actors-main .view-options .Sorting form .company select, .users-main .view-options .Filters form .company select, .users-main .view-options .Sorting form .company select, .chats-main .view-options .Filters form .company select, .chats-main .view-options .Sorting form .company select {
  width: 100%;
}

.movies-main .view-options .Filters form .manu, .movies-main .view-options .Sorting form .manu, .directors-main .view-options .Filters form .manu, .directors-main .view-options .Sorting form .manu, .actors-main .view-options .Filters form .manu, .actors-main .view-options .Sorting form .manu, .users-main .view-options .Filters form .manu, .users-main .view-options .Sorting form .manu, .chats-main .view-options .Filters form .manu, .chats-main .view-options .Sorting form .manu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movies-main .view-options .Filters form .manu label, .movies-main .view-options .Sorting form .manu label, .directors-main .view-options .Filters form .manu label, .directors-main .view-options .Sorting form .manu label, .actors-main .view-options .Filters form .manu label, .actors-main .view-options .Sorting form .manu label, .users-main .view-options .Filters form .manu label, .users-main .view-options .Sorting form .manu label, .chats-main .view-options .Filters form .manu label, .chats-main .view-options .Sorting form .manu label {
  width: 100%;
}

.movies-main .view-options .Filters form .rgb, .movies-main .view-options .Sorting form .rgb, .directors-main .view-options .Filters form .rgb, .directors-main .view-options .Sorting form .rgb, .actors-main .view-options .Filters form .rgb, .actors-main .view-options .Sorting form .rgb, .users-main .view-options .Filters form .rgb, .users-main .view-options .Sorting form .rgb, .chats-main .view-options .Filters form .rgb, .chats-main .view-options .Sorting form .rgb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.movies-main .view-options .Filters form .rgb input, .movies-main .view-options .Sorting form .rgb input, .directors-main .view-options .Filters form .rgb input, .directors-main .view-options .Sorting form .rgb input, .actors-main .view-options .Filters form .rgb input, .actors-main .view-options .Sorting form .rgb input, .users-main .view-options .Filters form .rgb input, .users-main .view-options .Sorting form .rgb input, .chats-main .view-options .Filters form .rgb input, .chats-main .view-options .Sorting form .rgb input {
  width: 25%;
}

.movies-main .view-options .Filters form button, .movies-main .view-options .Sorting form button, .directors-main .view-options .Filters form button, .directors-main .view-options .Sorting form button, .actors-main .view-options .Filters form button, .actors-main .view-options .Sorting form button, .users-main .view-options .Filters form button, .users-main .view-options .Sorting form button, .chats-main .view-options .Filters form button, .chats-main .view-options .Sorting form button {
  width: 75%;
  height: 55px;
}

.movies-main .view-options .Sorting, .directors-main .view-options .Sorting, .actors-main .view-options .Sorting, .users-main .view-options .Sorting, .chats-main .view-options .Sorting {
  margin-top: 50px;
}

.movies-main .view-options .Sorting .sort-select, .directors-main .view-options .Sorting .sort-select, .actors-main .view-options .Sorting .sort-select, .users-main .view-options .Sorting .sort-select, .chats-main .view-options .Sorting .sort-select {
  width: 100%;
}

.users-main, .chats-main {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.chats-main .ItemList-chats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: start;
  width: 100%;
}

.chats-main .ItemList-chats .Item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  border-radius: 10px;
  width: 100%;
  min-width: 66%;
  min-height: 0;
  height: auto;
}

.chats-main .ItemList-chats .Item a {
  width: 100%;
  margin: 0;
  padding: 0;
}

.movie-submit-form, .actor-submit-form, .director-submit-form, .user-submit-form {
  margin: auto;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie-submit-form div, .actor-submit-form div, .director-submit-form div, .user-submit-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.movie-submit-form div input, .actor-submit-form div input, .director-submit-form div input, .user-submit-form div input {
  width: 100%;
}

.movie-submit-form .form-rgb input, .actor-submit-form .form-rgb input, .director-submit-form .form-rgb input, .user-submit-form .form-rgb input {
  height: 30px;
}

.movie-submit-form .form-imageurl textarea, .actor-submit-form .form-imageurl textarea, .director-submit-form .form-imageurl textarea, .user-submit-form .form-imageurl textarea {
  min-width: 100%;
}

.movie-submit-form .error, .actor-submit-form .error, .director-submit-form .error, .user-submit-form .error {
  color: red;
}

input {
  border-radius: 10px;
  background-color: #3b3b3b;
}

button {
  border-radius: 10px;
  background-color: #ffd000;
  color: black;
  height: 3em;
}

div {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details img {
  max-width: 500px;
  max-height: 500px;
}

.details div {
  font-size: 30px;
}

.details button {
  margin-top: 10px;
  width: 200px;
}

.details .producent-link a {
  font-size: 40px;
}

.released-card a {
  font-size: 30px;
}

h5 {
  font-size: 40px;
}

.Navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  margin: auto;
  background-color: #525252;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Navbar ul {
  height: 100%;
  background-color: #6b6b6b;
  width: 30vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  list-style: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navbar li {
  padding-left: 10px;
  padding-right: 10px;
  border-left: lightgray solid 1px;
  border-right: lightgray solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #6b6b6b;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navbar li a {
  font-size: 28px;
  background-color: #6b6b6b;
}

.ItemList {
  margin-top: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ItemList .button-find {
  width: 20%;
}

.manu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manu input {
  height: 25px;
  width: 10%;
}

.rgb input {
  height: 50px;
}

.ItemList button {
  width: 50%;
  height: 2em;
}

.App {
  text-align: center;
}
/*# sourceMappingURL=App.css.map */